.applications-title {
 display: flex;
 justify-content: center;
 width: 100vw;
}

.buttons-applications {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn-applications {
    display: inline-block;
    background-color: #6D21CE;
    color: #fff;
    outline: none;
    border: none;
    font-family: 'Sora', sans-serif; // change the font-family
    
    font-size: 0.875em;
    padding: 0.9rem 2.3rem;
    border-radius: 50px;
    cursor: pointer;
   
    transition: all 0.2s ease;
}

.btn-applications:hover {
 transform: scale(1.1);
}