.title {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 line-height: 1.8;
 padding: 0 30px;
 height: 300px;

    h1 {
        //font-size
        text-decoration: underline;
        text-decoration-color: #00E84C;
    }
    h3 {
        font-size: 20px;
        font-family: 'Jost', sans-serif;
        font-weight: normal;
    }
}

.container {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 50px;
}

.box {
 background: linear-gradient(145deg, #e2e8ec, #fdfdfd);
 box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #fdfdfd;
 border-radius: 10px;

    h1 {
        font-size: 30px;
        font-family: 'Jost', sans-serif;
    }
    h3 {
        font-size: 20px;
        font-family: 'Jost', sans-serif;
        font-weight: normal;
    }
}

.secondContainer{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 //gap: 50px;
}

.iconList {
 display: flex;
 //flex-wrap: nowrap;
 gap: 50px;
}

.terceiroContainer {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.description {

  h3 {
   font-size: 20px;
   text-decoration: underline;
   text-decoration-color: #00E84C;
  }

  h4 {
   font-size: 15px;
  }
}