.title {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 line-height: 1.8;
 padding: 0 30px;
 height: 300px;

    h1 {
        //font-size
        text-decoration: underline;
        text-decoration-color: #00E84C;
    }
    h2 {
        font-size: 30px;
        font-family: 'Jost', sans-serif;
        font-weight: normal;
    }
}